*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(83, 83, 83),rgb(255, 255, 255), #afafaf, #000000);
}

a{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kalkulator{
    position: relative;
    height: auto;
    width: auto;
    padding: 25px;  
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 0 0 30px #ffffff;
    filter: drop-shadow(0px 0px 30px rgba(121, 121, 121, 0.5));
    background-image: linear-gradient(to right,rgb(255, 122, 122),rgb(221, 221, 221));
}

.kalkulator .display{
    color: black;
}

#display{
    padding: 20px;
    margin: 0 10px;
    height: 100px;
    width: 235px;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(236, 236, 236));
    border: 1px solid #000;
    border-radius: 20px;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 50px;
    width: 50px;
    border: 1px solid #a3a3a3;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    background-image: linear-gradient(to top,white, rgb(201, 201, 201));
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.15);
    background-image: linear-gradient(to top, rgb(233, 233, 233),rgb(185, 185, 185));
}

button#equal{
    height: 120px;
}
